
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Hello! Here is my important message</h2>
<p>This page is actually not to cool</p>